In [1]:
import pandas as pd

# Create a dictionary with three keys, 'A', 'B', and 'C', and lists of 10 numbers as values
data = {'A': list(range(10)),
        'B': list(range(10, 20)),
        'C': list(range(20, 30))}

# Convert the dictionary to a pandas DataFrame
df1 = pd.DataFrame(data)

# Print the DataFrame
df = df1.head()
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [2]:
df.count()

A    5
B    5
C    5
dtype: int64

In [3]:
df['A'].count()

5

In [4]:
df['A'].value_counts()

0    1
1    1
2    1
3    1
4    1
Name: A, dtype: int64

In [5]:
df['A'].value_counts().sum()

5

In [6]:
df['A'].value_counts().unique()

array([1], dtype=int64)

In [7]:
df['A'].value_counts().nunique()

1

In [8]:
df['B'].value_counts().unique()

array([1], dtype=int64)

In [12]:
df['B'].sum()

60

In [20]:
(df['A'] < 3).sum()

3

In [21]:
(df['A'] < 3).count()

5

In [23]:
df['A'] < 3

0     True
1     True
2     True
3    False
4    False
Name: A, dtype: bool

In [24]:
df['C'].unique()

array([20, 21, 22, 23, 24], dtype=int64)

In [25]:
df = pd.DataFrame({
    'A': [0, 1, 2, 3, 4],
    'B': [10, 11, 12, 13, 14],
    'C': [20, 21, 22, 23, 24]
})
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [26]:
df.count()

A    5
B    5
C    5
dtype: int64

In [27]:
df.iloc[2].count()

3

In [31]:
df[df['A'] > 2].count()

A    2
B    2
C    2
dtype: int64

In [32]:
df[df.loc[:, 'A'] > 2].count()

A    2
B    2
C    2
dtype: int64

In [34]:
df[df.loc[:, 'A'] > 2].count()

A    2
B    2
C    2
dtype: int64

In [38]:
df[(df['A'] < 4) & (df['C'] > 20)].count()

A    3
B    3
C    3
dtype: int64

In [39]:
len(df[(df['A'] < 4) & (df['C'] > 20)].count())

3

In [40]:
df['B'].unique()

array([10, 11, 12, 13, 14], dtype=int64)

In [41]:
df['B'].nunique()

5

In [43]:
(df['B'] == 10).sum()

1

In [45]:
df['C'] == 20

0     True
1    False
2    False
3    False
4    False
Name: C, dtype: bool

In [46]:
(df['C'] == 20).count()

5

In [47]:
(df['C'] == 20).sum()

1

In [49]:
(df['A'] != 0).sum()

4

In [51]:
df['B']

0    10
1    11
2    12
3    13
4    14
Name: B, dtype: int64

In [55]:
df['B'].count() - df['B'].nunique()

0

In [57]:
df['B'].duplicated().sum()

0

In [58]:
df['B'].duplicated().count()

5

In [59]:
df['C'].value_counts()

20    1
21    1
22    1
23    1
24    1
Name: C, dtype: int64

In [61]:
import pandas as pd

data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'C'],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Jan', 'Feb', 'Mar'],
    'Sales': [100, 200, 150, 120, 180, 250, 110, 160, 220]
}

sales_df = pd.DataFrame(data)
sales_df

  Product Month  Sales
0       A   Jan    100
1       B   Jan    200
2       A   Feb    150
3       C   Feb    120
4       B   Mar    180
5       C   Mar    250
6       A   Jan    110
7       B   Feb    160
8       C   Mar    220

In [64]:
sales_df.groupby(['Product', 'Month'])['Sales'].mean()

Product  Month
A        Feb      150.0
         Jan      105.0
B        Feb      160.0
         Jan      200.0
         Mar      180.0
C        Feb      120.0
         Mar      235.0
Name: Sales, dtype: float64

In [67]:
def get_count(given_row):
    return sum([i for i in given_row if i > 15])


df.apply(get_count, axis = 0)

A      0
B      0
C    110
dtype: int64

In [68]:
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24