In [3]:
import pandas as pd


df = pd.DataFrame({
    'A': [0, 1, 2, 3, 4],
    'B': [10, 11, 12, 13, 14],
    'C': [20, 21, 22, 23, 24]
})
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [5]:
df.size

15

In [6]:
df.shape[1]

3

In [7]:
df['B'].size

5

In [8]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
df['D'] = [20, 20, 220, 23, 24]

In [13]:
df['D'].duplicated()

0    False
1     True
2    False
3    False
4    False
Name: D, dtype: bool

In [12]:
df['D'].duplicated()

   A   B   C    D
0  0  10  20   20
1  1  11  21   20
2  2  12  22  220
3  3  13  23   23
4  4  14  24   24