In [41]:
import numpy as np
import pandas as pd


df = pd.DataFrame({
    'A': [0, 1, 2, 3, 4],
    'B': [10, 11, 12, 13, 14],
    'C': [20, 21, 22, 23, 24]
})
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [11]:
df.size

15

In [12]:
df.shape[1]

3

In [13]:
df['B'].size

5

In [14]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [15]:
df['D'] = [20, 20, 220, 23, 24]

In [16]:
df['D'].duplicated()

0    False
1     True
2    False
3    False
4    False
Name: D, dtype: bool

In [17]:
df['D'].duplicated()

0    False
1     True
2    False
3    False
4    False
Name: D, dtype: bool

In [18]:
df

   A   B   C    D
0  0  10  20   20
1  1  11  21   20
2  2  12  22  220
3  3  13  23   23
4  4  14  24   24

In [19]:
df.duplicated().sum()

0

In [20]:
df['D'].duplicated().sum()

1

In [ ]:
df['D'].duplicated().sum()

In [25]:
(df['D'] == 20).sum()

2

In [26]:
(df['D'] == 20).count()

5

In [29]:
df['D']

0     20
1     20
2    220
3     23
4     24
Name: D, dtype: int64

In [28]:
df['D'].duplicated()

0    False
1     True
2    False
3    False
4    False
Name: D, dtype: bool

In [30]:
df['D'].duplicated().sum()

1

In [31]:
df['D'].duplicated().count()

5

In [32]:
import pandas as pd
from datetime import datetime

# Sample data
data = {
    'Order_ID': [1, 2, 3, 4, 5],
    'Customer_ID': [101, 102, 103, 104, 105],
    'Restaurant_ID': [201, 202, 203, 204, 205],
    'Order_Date': [datetime(2023, 8, 1), datetime(2023, 8, 2), datetime(2023, 8, 3), datetime(2023, 8, 4), datetime(2023, 8, 5)],
    'Order_Time': ['12:30:00', '18:45:00', '19:20:00', '13:15:00', '09:30:00'],
    'Food_Item': ['Burger', 'Sushi', 'Pasta', 'Pizza', 'Salad'],
    'Quantity': [2, 1, 3, 1, 1],
    'Price': [12.99, 18.50, 10.99, 14.99, 7.99],
    'Delivery_Time(min)': [30, 45, 40, 35, 25],
    'Rating': [4.5, 4.0, 5.0, 3.5, 4.0]
}

# Create DataFrame
uber_eats_df = pd.DataFrame(data)

df

   A   B   C    D
0  0  10  20   20
1  1  11  21   20
2  2  12  22  220
3  3  13  23   23
4  4  14  24   24

In [36]:
# What does the size attribute in a Pandas DataFrame return?

df.size

20

In [37]:
df.shape

(5, 4)

In [42]:
a_list = [1, 2, 3, np.nan]

s = pd.Series(a_list)
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [43]:
s.size

4

In [46]:
df.loc[df['A'] > 1].size

9

In [ ]:
What does the size attribute in a Pandas DataFrame return?

How does the size attribute differ from the shape attribute in Pandas DataFrames?

Can you use the size attribute to find out the number of rows in a DataFrame? If so, how would you do it?

Can you use the size attribute on a Pandas Series? If yes, what would it return?

How would you find the total number of elements in a DataFrame that has missing (NaN) values, using the size attribute?

If you have a DataFrame with 3 rows and 4 columns, what would be the output of the size attribute?

Is the size attribute affected by DataFrame filtering? For example, if you filter rows based on some condition, will size reflect the new DataFrame size?

How would you use the size attribute to find the number of elements in a specific column of a DataFrame?

Can size be used to get the size of a multi-index DataFrame? If so, what does it return?

How does the size attribute differ from the len() function when applied to a Pandas DataFrame?