In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({'a': [1,2], 'b': [10, 11]})

In [13]:
df

   a   b
0  1  10
1  2  11

In [14]:
df.sum()

a     3
b    21
dtype: int64

In [15]:
df.sum(axis = 1)

0    11
1    13
dtype: int64

In [16]:
df['total'] = df.sum(axis = 1)

In [17]:
df

   a   b  total
0  1  10     11
1  2  11     13