In [62]:
import pandas as pd 
import numpy as np

In [63]:
df = pd.DataFrame({"f1": np.random.randint(1, 100, 6), "f2": np.random.randint(1, 200, 6), 
                  "f3": np.random.randint(1, 300, 6)})

label_choices = np.random.choice(["A", "B", "C"], 6) 
df['Label'] = label_choices

In [64]:
df

   f1   f2   f3 Label
0  51   85   41     B
1  12  198  280     C
2  87   78  252     A
3  56   62  162     A
4  21  119  114     C
5  75   18   57     C

In [66]:
df

   f1   f2   f3 Label
0  51   85   41     B
1  12  198  280     C
2  87   78  252     A
3  56   62  162     A
4  21  119  114     C
5  75   18   57     C