In [17]:
import torch
import torch.nn as nn
import pandas as pd

# Load the dataset 
df = pd.read_csv("udemy_dataset.csv")

In [18]:
df.head()

,courseid,course_section_lecture_title,label
0,8416,Beginners - How To Create iPhone And iPad Apps...,iOS Development
1,8723,"C Programming: iOS Development Starts Here!, {...",iOS Development
2,9287,Microsoft Excel 2010 Course Beginners/ Interme...,Excel
3,9463,Programming Java for Beginners - The Ultimate ...,Java
4,10318,"Adobe Photoshop for Photographers, {Color Corr...",Photoshop

In [19]:
df = df.drop('courseid', axis =1)
df.head(3)

                        course_section_lecture_title            label
0  Beginners - How To Create iPhone And iPad Apps...  iOS Development
1  C Programming: iOS Development Starts Here!, {...  iOS Development
2  Microsoft Excel 2010 Course Beginners/ Interme...            Excel

In [20]:
df.columns = ["Text", "Label"]

In [22]:
df.head(3)

                                                Text            Label
0  Beginners - How To Create iPhone And iPad Apps...  iOS Development
1  C Programming: iOS Development Starts Here!, {...  iOS Development
2  Microsoft Excel 2010 Course Beginners/ Interme...            Excel