In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
# Suppress warnings (if desired)
warnings.filterwarnings("ignore")

In [6]:
# Create a dataset with the descriptive features and 10 rows
np.random.seed(0)  # for reproducibility
data = {
    'Age': np.random.randint(20, 70, 10),  # Age values between 20 and 70
    'Income': np.random.randint(20000, 100000, 10),  # Income values between 20,000 and 100,000
    'Spending_Score': np.random.rand(10),  # Random float values between 0 and 1
    'Target': ['Yes' if i > 0.5 else 'No' for i in np.random.rand(10)]
}

df = pd.DataFrame(data)

df

   Age  Income  Spending_Score Target
0   64   68600        0.832620    Yes
1   67   59512        0.778157    Yes
2   20   72620        0.870012     No
3   23   37089        0.978618     No
4   23   52230        0.799159    Yes
5   59   38983        0.461479     No
6   29   26921        0.780529    Yes
7   39   58804        0.118274     No
8   41   87699        0.639921    Yes
9   56   90608        0.143353    Yes

In [3]:
# Convert the 'Yes' and 'No' labels to 1 and 0
df['Target'] = df['Target'].map({'Yes': 1, 'No': 0})

In [26]:
# Split the data into features and target variable
X = df[['Age', 'Income', 'Spending_Score']]
y = df['Target']

In [27]:
from sklearn.linear_model import LogisticRegression

# Initialize the logistic regression model
clf = LogisticRegression()

# Train the model
clf.fit(X, y)

# Print out the coefficients and intercept
print('Coefficients:', clf.coef_)
print('Intercept:', clf.intercept_)

Coefficients: [[ 1.29288375e-02  9.40891664e-07 -6.25308599e-05]]
Intercept: [-0.00043668]

In [28]:
y_pred = clf.predict(X)

In [29]:
from sklearn.metrics import confusion_matrix

conf_matrix = confusion_matrix(y, y_pred)
conf_matrix

array([[0, 4],
       [0, 6]], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

# Compute the metrics
accuracy = accuracy_score(y, y_pred)
f1 = f1_score(y, y_pred)
precision = precision_score(y, y_pred)
recall = recall_score(y, y_pred)

# Print the metrics
print(f"Accuracy: {accuracy:.4f}")
print(f"F1 Score: {f1:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")

Accuracy: 0.6000
F1 Score: 0.7500
Precision: 0.6000
Recall: 1.0000