In [12]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
result = s.between(4, 7)

In [13]:
df = pd.DataFrame({
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45]
})

df

    A   B
0  10   5
1  20  15
2  30  25
3  40  35
4  50  45

In [14]:
filtered_df = df[df['B'].between(15, 45)]
filtered_df

    A   B
1  20  15
2  30  25
3  40  35
4  50  45

In [7]:
df = pd.DataFrame({
    'date': pd.to_datetime(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']),
    'value': [100, 200, 300, 400]
})
df

        date  value
0 2021-01-01    100
1 2021-02-01    200
2 2021-03-01    300
3 2021-04-01    400

In [9]:
filtered_df = df[df['date'].between('2021-02-01', '2021-03-31')]
filtered_df

        date  value
1 2021-02-01    200
2 2021-03-01    300

In [16]:
filtered_df

    A   B
1  20  15
2  30  25
3  40  35
4  50  45

In [20]:
filtered_df = filtered_df[filtered_df['B'].between(15, 45, inclusive = False)]
filtered_df

C:\Users\Administrator.DESKTOP-QSF3VEN\AppData\Local\Temp\ipykernel_7884\1257922428.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  filtered_df = filtered_df[filtered_df['B'].between(15, 45, inclusive = False)]

    A   B
2  30  25
3  40  35