In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

# Create a dictionary with three keys, 'A', 'B', and 'C', and lists of 10 numbers as values
data = {'A': list(range(10)),
        'B': list(range(10, 20)),
        'C': list(range(20, 30))}

# Convert the dictionary to a pandas DataFrame
df1 = pd.DataFrame(data)

# Print the DataFrame
df = df1.head()
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24