In [2]:
import pandas as pd

# Create a dictionary with the data
data = {
    'user_id': [0, 2, 3, 1, 2],
    'session_start': ['2020-08-11 05:51:31', '2020-07-11 03:36:54', '2020-11-26 11:41:47', '2020-11-19 06:24:24', '2020-11-14 03:36:05'],
    'session_end': ['2020-08-11 05:54:45', '2020-07-11 03:37:08', '2020-11-26 11:52:01', '2020-11-19 07:24:38', '2020-11-14 03:39:19'],
    'session_id': [539, 840, 848, 515, 646],
    'session_type': ['streamer', 'streamer', 'streamer', 'viewer', 'viewer']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
df

   user_id        session_start          session_end  session_id session_type
0        0  2020-08-11 05:51:31  2020-08-11 05:54:45         539     streamer
1        2  2020-07-11 03:36:54  2020-07-11 03:37:08         840     streamer
2        3  2020-11-26 11:41:47  2020-11-26 11:52:01         848     streamer
3        1  2020-11-19 06:24:24  2020-11-19 07:24:38         515       viewer
4        2  2020-11-14 03:36:05  2020-11-14 03:39:19         646       viewer

In [3]:
import datetime

# Create lists with additional data
additional_user_ids = [4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
additional_session_ids = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
additional_session_types = ['viewer', 'streamer', 'streamer', 'viewer', 'streamer', 'viewer', 'viewer', 'streamer', 'viewer', 'streamer']

# Calculate time increments
start_time = datetime.datetime.strptime('2020-11-14 03:39:19', '%Y-%m-%d %H:%M:%S')
session_duration = datetime.timedelta(minutes=3)  # Assuming each session lasts 3 minutes
additional_session_start = [start_time + i*session_duration for i in range(1, 11)]
additional_session_end = [start_time + (i+1)*session_duration for i in range(1, 11)]

# Format times back to string
additional_session_start = [time.strftime('%Y-%m-%d %H:%M:%S') for time in additional_session_start]
additional_session_end = [time.strftime('%Y-%m-%d %H:%M:%S') for time in additional_session_end]

# Add the additional data to the existing dictionary
data['user_id'].extend(additional_user_ids)
data['session_start'].extend(additional_session_start)
data['session_end'].extend(additional_session_end)
data['session_id'].extend(additional_session_ids)
data['session_type'].extend(additional_session_types)

# Create the updated DataFrame
df = pd.DataFrame(data)

df

    user_id        session_start          session_end  session_id session_type
0         0  2020-08-11 05:51:31  2020-08-11 05:54:45         539     streamer
1         2  2020-07-11 03:36:54  2020-07-11 03:37:08         840     streamer
2         3  2020-11-26 11:41:47  2020-11-26 11:52:01         848     streamer
3         1  2020-11-19 06:24:24  2020-11-19 07:24:38         515       viewer
4         2  2020-11-14 03:36:05  2020-11-14 03:39:19         646       viewer
5         4  2020-11-14 03:42:19  2020-11-14 03:45:19         101       viewer
6         5  2020-11-14 03:45:19  2020-11-14 03:48:19         102     streamer
7         6  2020-11-14 03:48:19  2020-11-14 03:51:19         103     streamer
8         7  2020-11-14 03:51:19  2020-11-14 03:54:19         104       viewer
9         8  2020-11-14 03:54:19  2020-11-14 03:57:19         105     streamer
10        9  2020-11-14 03:57:19  2020-11-14 04:00:19         106       viewer
11       10  2020-11-14 04:00:19  2020-11-14 04:03:19         107       viewer
12       11  2020-11-14 04:03:19  2020-11-14 04:06:19         108     streamer
13       12  2020-11-14 04:06:19  2020-11-14 04:09:19         109       viewer
14       13  2020-11-14 04:09:19  2020-11-14 04:12:19         110     streamer

In [4]:
# Find users who are both a viewer and streamer.

In [ ]:
# 1..How many unique users are there in this DataFrame?
df.user_id.nunique()

In [ ]:
#2 How many sessions have a type of 'streamer'?
(df['session_type'] == 'streamer').sum() #BEST
len(df[df['session_type'] == 'streamer'])
df['session_type'].value_counts()['streamer']

In [86]:
# What is the range of session_ids in the DataFrame 
# (i.e., the difference between the maximum and minimum session_id)?
df.session_id.max() - df.session_id.min()

747

In [88]:
# What is the earliest and the latest session_start time in the DataFrame?
df.session_start.min(), df.session_start.max()

('2020-07-11 03:36:54', '2020-11-26 11:41:47')

In [89]:
# How many unique users are there 
# for each session type ('streamer' and 'viewer')?

df['session_type'].unique()

array(['streamer', 'viewer'], dtype=object)

In [99]:
df[df['session_type'] == 'streamer']['session_type'].value_counts()

streamer    8
Name: session_type, dtype: int64

In [104]:
df[['user_id', 'session_type']].value_counts()

user_id  session_type
0        streamer        1
1        viewer          1
2        streamer        1
         viewer          1
3        streamer        1
4        viewer          1
5        streamer        1
6        streamer        1
7        viewer          1
8        streamer        1
9        viewer          1
10       viewer          1
11       streamer        1
12       viewer          1
13       streamer        1
dtype: int64

In [114]:
df.groupby('session_type')['user_id'].count()

session_type
streamer    8
viewer      7
Name: user_id, dtype: int64

In [117]:
df.groupby('session_type')['user_id'].nunique()

session_type
streamer    8
viewer      7
Name: user_id, dtype: int64

Calculate the average duration of all sessions. (You will first need to convert session_start and session_end from string to datetime format).

In [119]:
df.head()

   user_id        session_start          session_end  session_id session_type
0        0  2020-08-11 05:51:31  2020-08-11 05:54:45         539     streamer
1        2  2020-07-11 03:36:54  2020-07-11 03:37:08         840     streamer
2        3  2020-11-26 11:41:47  2020-11-26 11:52:01         848     streamer
3        1  2020-11-19 06:24:24  2020-11-19 07:24:38         515       viewer
4        2  2020-11-14 03:36:05  2020-11-14 03:39:19         646       viewer

In [120]:
df['session_start'] = pd.to_datetime(df['session_start'])

In [124]:
df['session_end'] = pd.to_datetime(df['session_end'])

In [142]:
pd.Timedelta(df['session_end'] - df['session_start']).components.minutes

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Series

How many sessions lasted more than 10 minutes? (Again, ensure that session_start and session_end are in datetime format.)

In [ ]:
df[(df['session_end'] - df['session_start']) > 10

In [138]:
td = pd.Timedelta('0 days 00:07:08.666666666')

In [140]:
total_seconds = td.components.minutes

In [141]:
total_seconds

7