In [4]:
import pandas as pd

data = {'Store': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Product': ['Apple', 'Orange', 'Apple', 'Banana', 'Orange', 'Banana'], 
        'Revenue': [1200, 500, 700, 400, 800, 900]}

df = pd.DataFrame(data)

In [5]:
df

  Store Product  Revenue
0     A   Apple     1200
1     A  Orange      500
2     B   Apple      700
3     B  Banana      400
4     C  Orange      800
5     C  Banana      900

In [10]:
df['Revenue_2'] = df['Revenue'].apply(lambda x: x * 200)

In [12]:
df

  Store Product  Revenue  Revenue_2
0     A   Apple     1200     240000
1     A  Orange      500     100000
2     B   Apple      700     140000
3     B  Banana      400      80000
4     C  Orange      800     160000
5     C  Banana      900     180000

In [17]:
df['Revenue_2'] = df['Revenue'].apply(lambda filter: x > 200)

NameError: name 'x' is not defined