In [2]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'Product': ['Apple'], )

In [5]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.DataFrame({
    'date': pd.date_range(start='2021-01-01', end='2021-12-31'), 
    'value': np.random.rand(365)
})

df = df[:5]

In [9]:
a = df.iloc[0, 0]
a

Timestamp('2021-01-01 00:00:00')

In [10]:
a

Timestamp('2021-01-01 00:00:00')

In [11]:
pd.to_datetime(a)

Timestamp('2021-01-01 00:00:00')

In [13]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'date': pd.date_range(start='2021-01-01', periods=5), 
    'value': [1, 3, 7, 11, 15]
})

In [14]:
df

        date  value
0 2021-01-01      1
1 2021-01-02      3
2 2021-01-03      7
3 2021-01-04     11
4 2021-01-05     15

In [15]:

# Set 'date' as index
df.set_index('date', inplace=True)

In [16]:
df

            value
date
2021-01-01      1
2021-01-02      3
2021-01-03      7
2021-01-04     11
2021-01-05     15

In [17]:
# Apply diff()
df_diff = df.diff()

In [18]:
df_diff

            value
date
2021-01-01    NaN
2021-01-02    2.0
2021-01-03    4.0
2021-01-04    4.0
2021-01-05    4.0

In [12]:



print("Original DataFrame:")
print(df)

# Apply diff()
df_diff = df.diff()

print("\nDataFrame after applying diff():")
print(df_diff)

Original DataFrame:
            value
date
2021-01-01      1
2021-01-02      3
2021-01-03      7
2021-01-04     11
2021-01-05     15

DataFrame after applying diff():
            value
date
2021-01-01    NaN
2021-01-02    2.0
2021-01-03    4.0
2021-01-04    4.0
2021-01-05    4.0

In [19]:
pd.Timestamp('2020-01-02') - pd.Timestamp('2020-01-01')

Timedelta('1 days 00:00:00')

In [21]:
# df['date_plus_20'] = df['date'] + pd.Timedelta(days=20)

In [39]:
from datetime import datetime

date_string = "2021-01-23 12:30:45"
date_format = "%Y-%m-%d %H:%M:%S"

date = datetime.strptime(date_string, date_format)

print(date)

2021-01-23 12:30:45

In [40]:
date_ymd = date.strftime("%Y-%m-%d")
date_ymd

'2021-01-23'

In [41]:
date_ymd = date.strftime("%Y-%m")
date_ymd

'2021-01'

In [42]:
date_ymd = date.strftime("%Y")
date_ymd

'2021'

In [43]:
date_ymd = date.strftime("%m")
date_ymd

'01'

In [44]:
date_ymd = date.strftime("%d")
date_ymd

'23'

In [45]:
date_ymd = date.strftime("%D")
date_ymd

'01/23/21'

In [46]:
date_ymd = date.strftime("%Y")
date_ymd

'2021'

In [47]:
date_ymd = date.strftime("%M")
date_ymd

'30'

In [48]:
date_ymd = date.strftime("%Y")
date_ymd

'2021'

In [49]:
date_ymd = date.strftime("%M -%d")
date_ymd

'30 -23'

In [50]:
df

            value
date
2021-01-01      1
2021-01-02      3
2021-01-03      7
2021-01-04     11
2021-01-05     15