In [1]:
# explode vs flatten

In [3]:
import pandas as pd

df = pd.DataFrame({'A': [[1, 2, 3], [4, 5], [6, 7, 8, 9]], 'B': ['a', 'b', 'c']})
print(df)

              A  B
0     [1, 2, 3]  a
1        [4, 5]  b
2  [6, 7, 8, 9]  c

In [4]:
# Using explode
df_exploded = df.explode('A')
print(df_exploded)

   A  B
0  1  a
0  2  a
0  3  a
1  4  b
1  5  b
2  6  c
2  7  c
2  8  c
2  9  c

In [5]:
df = pd.DataFrame({
    'A': [[1, 2], ['a', 'b']],
    'B': [[3, 4], ['c', 'd']]
})
df

        A       B
0  [1, 2]  [3, 4]
1  [a, b]  [c, d]

In [6]:

df_exploded = df.explode('A').explode('B')
print(df_exploded)

   A  B
0  1  3
0  1  4
0  2  3
0  2  4
1  a  c
1  a  d
1  b  c
1  b  d

In [7]:
df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [6, 7]], 'B': ['a', 'b', 'c']})
df

           A  B
0  [1, 2, 3]  a
1        foo  b
2     [6, 7]  c

In [8]:
df_exploded = df.explode('A')
print(df_exploded)

     A  B
0    1  a
0    2  a
0    3  a
1  foo  b
2    6  c
2    7  c

In [10]:
df = pd.DataFrame({'A': [[[1, 2], [3, 4]], [[5, 6]]], 'B': ['a', 'b']})
df

                  A  B
0  [[1, 2], [3, 4]]  a
1          [[5, 6]]  b

In [11]:
df_exploded = df.explode('A')
print(df_exploded)

        A  B
0  [1, 2]  a
0  [3, 4]  a
1  [5, 6]  b

In [12]:
df_exploded = df.explode('A')
print(df_exploded)

        A  B
0  [1, 2]  a
0  [3, 4]  a
1  [5, 6]  b

In [13]:
df = pd.DataFrame({'A': [[1, 2, 3], [4, 5]], 'B': ['a', 'b']}, index=['x', 'y'])
df

           A  B
x  [1, 2, 3]  a
y     [4, 5]  b

In [14]:
df_exploded = df.explode('A')
print(df_exploded)

   A  B
x  1  a
x  2  a
x  3  a
y  4  b
y  5  b