In [2]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [30]:
# observations:
    
# remeber size vs shape differences

In [5]:
import pandas as pd

data = {'Name': ['Peets Coffee', 'Starbucks', 'Blue Bottle', 'Verve', "Dinosaur Coffee"],
        'Neighborhood': ['Downtown', 'Hollywood', 'Silver Lake', 'Santa Monica', 'Los Feliz'], 
        'Revenue': [25000, 30000, 20000, 28000, 18000]}

df = pd.DataFrame(data)
df

              Name  Neighborhood  Revenue
0     Peets Coffee      Downtown    25000
1        Starbucks     Hollywood    30000
2      Blue Bottle   Silver Lake    20000
3            Verve  Santa Monica    28000
4  Dinosaur Coffee     Los Feliz    18000

In [6]:
# How many rows are in the DataFrame?
# How many columns are in the DataFrame?
# What is the size of the Name column?
# What is the size of the Neighborhood and Revenue columns combined?
# How many unique Neighborhood values are there?
# How many coffee shops have revenue above 25000?
# What is the size of df if filtered for only Downtown and Hollywood?
# How many rows are left if filtered for Revenue above 30000?
# What is size after dropping duplicates of Neighborhood?
# How many elements in the transposed DataFrame?

In [13]:
df

              Name  Neighborhood  Revenue
0     Peets Coffee      Downtown    25000
1        Starbucks     Hollywood    30000
2      Blue Bottle   Silver Lake    20000
3            Verve  Santa Monica    28000
4  Dinosaur Coffee     Los Feliz    18000

In [9]:
# How many rows are in the DataFrame?
df.shape[0]

5

In [12]:
# How many columns are in the DataFrame?
df.shape[1]

3

In [14]:
# What is the size of the Name column?
df['Name'].size

5

In [15]:
# What is the size of the Neighborhood and Revenue columns combined?
df[['Neighborhood', 'Revenue']].size

10

In [16]:
# How many unique Neighborhood values are there?
df['Neighborhood'].nunique()

5

In [18]:
# How many coffee shops have revenue above 25000?
df[df['Revenue'] > 25000].size

6

In [26]:
# What is the size of df if filtered for only Downtown and Hollywood?
df[df['Neighborhood'].isin(['Downtown', 'Hollywood'])].shape

(2, 3)

In [28]:
# What is size after dropping duplicates of Neighborhood?
df['Neighborhood'].drop_duplicates().size

5

In [29]:
# How many elements in the transposed DataFrame?
df.T.size

15