In [30]:
import pandas as pd

In [31]:
df = pd.DataFrame({'A': [1,2,3]})

In [32]:
df

   A
0  1
1  2
2  3

In [33]:
df['B'] = df['A'].apply(lambda x: x* 10)

In [34]:
df

   A   B
0  1  10
1  2  20
2  3  30

In [37]:
df['C'] = df.apply(lambda apple: apple['A'] + apple['B'], axis =1 )
df

   A   B   C
0  1  10  11
1  2  20  22
2  3  30  33