In [1]:
import pandas as pd

# Create a dictionary with three keys, 'A', 'B', and 'C', and lists of 10 numbers as values
data = {'A': list(range(10)),
        'B': list(range(10, 20)),
        'C': list(range(20, 30))}

# Convert the dictionary to a pandas DataFrame
df1 = pd.DataFrame(data)

# Print the DataFrame
df = df1.head()
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [2]:
df.count()

A    5
B    5
C    5
dtype: int64

In [3]:
df['A'].count()

5

In [4]:
df['A'].value_counts()

0    1
1    1
2    1
3    1
4    1
Name: A, dtype: int64

In [5]:
df['A'].value_counts().sum()

5

In [6]:
df['A'].value_counts().unique()

array([1], dtype=int64)

In [7]:
df['A'].value_counts().nunique()

1

In [8]:
df['B'].value_counts().unique()

array([1], dtype=int64)

In [12]:
df['B'].sum()

60

In [20]:
(df['A'] < 3).sum()

3

In [21]:
(df['A'] < 3).count()

5

In [23]:
df['A'] < 3

0     True
1     True
2     True
3    False
4    False
Name: A, dtype: bool

In [24]:
df['C'].unique()

array([20, 21, 22, 23, 24], dtype=int64)

In [25]:
df = pd.DataFrame({
    'A': [0, 1, 2, 3, 4],
    'B': [10, 11, 12, 13, 14],
    'C': [20, 21, 22, 23, 24]
})
df

   A   B   C
0  0  10  20
1  1  11  21
2  2  12  22
3  3  13  23
4  4  14  24

In [26]:
df.count()

A    5
B    5
C    5
dtype: int64

In [27]:
df.iloc[2].count()

3

In [31]:
df[df['A'] > 2].count()

A    2
B    2
C    2
dtype: int64

In [32]:
df[df.loc[:, 'A'] > 2].count()

A    2
B    2
C    2
dtype: int64