In [44]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Set the seed for reproducibility
np.random.seed(0)

# Creating the DataFrame
data = {
    'X1': np.random.randint(1, 100, 12),
    'X2': np.random.randint(1, 100, 12),
}

df = pd.DataFrame(data)

# Assuming a linear relation: Y = 2*X1 + 3*X2 + some_noise
df['Y'] = round(2*df['X1'] + 3*df['X2'] + np.random.normal(0, 10, 12))

# Add categorical 'Color' feature
colors = ['Red', 'Blue', 'Green', 'Yellow']
df['Color'] = np.random.choice(colors, 12)

# Add categorical 'Shape' feature
shapes = ['Circle', 'Square', 'Triangle']
df['Shape'] = np.random.choice(shapes, 12)

# Display the DataFrame
df

    X1  X2      Y   Color     Shape
0   45  89  369.0   Green    Circle
1   48  13  122.0     Red    Square
2   65  59  311.0  Yellow    Square
3   68  66  333.0  Yellow  Triangle
4   68  40  270.0   Green    Circle
5   10  88  283.0  Yellow    Circle
6   84  47  329.0   Green    Square
7   22  89  313.0  Yellow    Circle
8   37  82  326.0     Red    Square
9   88  38  306.0   Green  Triangle
10  71  26  236.0     Red  Triangle
11  89  78  414.0     Red    Circle

In [45]:
# One-hot encode the categorical features
df = pd.get_dummies(df, columns=['Color', 'Shape'], drop_first=True)

# Split data into features (X) and target (y)
X = df.drop('Y', axis=1)
y = df['Y']

In [46]:
# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Fit a linear regression model
model = LinearRegression()
model.fit(X, y)

# Predicting on the test data
y_pred = model.predict(X_test)

# Print the coefficients
print("Intercept:", model.intercept_)
for feature, coef in zip(X.columns, model.coef_):
    print(f"{feature}: {coef}")

Intercept: 2.3413119081529885
X1: 2.0638598444746816
X2: 3.1168872224208095
Color_Red: -12.223009439396433
Color_Yellow: -15.155723559017392
Shape_Square: 2.1997398728850124
Shape_Triangle: 7.2210912211656355

In [47]:
# Calculate metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Absolute Error (MAE): 3.39
Mean Squared Error (MSE): 12.22
Root Mean Squared Error (RMSE): 3.50
R-squared: 1.00

In [48]:
import statsmodels.api as sm

# # Add a constant column for the intercept
# X = sm.add_constant(df[['X1', 'X2', 'Category_1', 'Category_2']])

# Fit the OLS model
model_SM = sm.OLS(df['Y'], X).fit()

# Get the summary
print(model_SM.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      Y   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                              3118.
Date:                Tue, 31 Oct 2023   Prob (F-statistic):                    3.30e-10
Time:                        16:45:21   Log-Likelihood:                         -37.552
No. Observations:                  12   AIC:                                      87.10
Df Residuals:                       6   BIC:                                      90.01
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
X1                 2.0793      0.092     22.537      0.000       1.854       2.305
X2                 3.1333      0.086     36.592      0.000       2.924       3.343
Color_Red        -11.8916      5.617     -2.117      0.079     -25.635       1.852
Color_Yellow     -14.8455      6.827     -2.175      0.073     -31.551       1.859
Shape_Square       2.5671      5.940      0.432      0.681     -11.969      17.103
Shape_Triangle     7.4656      7.518      0.993      0.359     -10.930      25.861
==============================================================================
Omnibus:                        0.079   Durbin-Watson:                   2.506
Prob(Omnibus):                  0.961   Jarque-Bera (JB):                0.122
Skew:                           0.093   Prob(JB):                        0.941
Kurtosis:                       2.543   Cond. No.                         376.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=12
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [50]:
model

LinearRegression()

In [73]:
new_data = {
    'X1': [45, 52],
    'X2': [65, 74],
    'Color': ['Red', 'Yellow'],
    'Shape': ['Triangle', 'Square']
}
new_df = pd.DataFrame(new_data)
new_df

   X1  X2   Color     Shape
0  45  65     Red  Triangle
1  52  74  Yellow    Square

In [74]:
new_df_encoded = pd.get_dummies(new_df, columns=['Color', 'Shape'])

# for col in X.columns:
#     if col not in new_df_encoded.columns:
#         new_df_encoded[col] = 0
new_df_encoded

   X1  X2  Color_Red  Color_Yellow  Shape_Square  Shape_Triangle
0  45  65          1             0             0               1
1  52  74          0             1             1               0

In [75]:
df.head(3)

   X1  X2      Y  Color_Red  Color_Yellow  Shape_Square  Shape_Triangle
0  45  89  369.0          0             0             0               0
1  48  13  122.0          1             0             1               0
2  65  59  311.0          0             1             1               0

In [76]:
new_y_pred = model.predict(new_df_encoded)
print(new_y_pred)

[292.81075615 327.35569459]