In [15]:
#series

In [16]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
mask = s.isin([2, 4, 6])
print(mask)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [17]:
#with df column

In [18]:
import pandas as pd

df = pd.DataFrame({
    'A': ['apple', 'banana', 'cherry'],
    'B': ['dog', 'cat', 'bird']
})

df

        A     B
0   apple   dog
1  banana   cat
2  cherry  bird

In [19]:
# Filter rows where column 'A' has either 'apple' or 'banana'
filtered_df = df[df['A'].isin(['apple', 'banana'])]
filtered_df

        A    B
0   apple  dog
1  banana  cat

In [20]:
filtered_df = df[df.isin(['apple', 'banana'])]
filtered_df

        A    B
0   apple  NaN
1  banana  NaN
2     NaN  NaN

In [21]:
# multiple columns

In [22]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
})

# Filter rows where column 'A' has value 1 or 3 and column 'B' has value 5 or 7
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [23]:
condition = df['A'].isin([1, 3]) & df['B'].isin([5, 7])
filtered_df = df[condition]
filtered_df

   A  B
0  1  5
2  3  7

In [28]:
condition = df['A'].isin([1, 4]) & df['B'].isin([5, 7])
filtered_df = df[condition]
filtered_df

   A  B
0  1  5