In [39]:
import pandas as pd

s = pd.Series([1, 2, 3, 4])

s

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
s.astype('float64')

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [41]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4.0, 5.5, 6.1],
    'C': ['p', 'q', 'r']
})
df

   A    B  C
0  1  4.0  p
1  2  5.5  q
2  3  6.1  r

In [42]:
df['A'].dtypes

dtype('int64')

In [43]:
df['A'] = df['A'].astype('float64')
df

     A    B  C
0  1.0  4.0  p
1  2.0  5.5  q
2  3.0  6.1  r

In [44]:
df['A'].dtypes

dtype('float64')

In [45]:
df = df.astype({'A': 'int32', 'B': 'float32'})
df

   A    B  C
0  1  4.0  p
1  2  5.5  q
2  3  6.1  r

In [46]:
df['A'].dtypes

dtype('int32')

In [47]:
df['B'].dtypes

dtype('float32')

In [48]:
df.dtypes

A      int32
B    float32
C     object
dtype: object

In [49]:
df['C'] = df['C'].astype('category')
df

   A    B  C
0  1  4.0  p
1  2  5.5  q
2  3  6.1  r

In [50]:
df.dtypes

A       int32
B     float32
C    category
dtype: object

In [51]:
df = pd.DataFrame({
    'date': ['2021-01-01', '2021-01-02', '2021-01-03']
})

df

         date
0  2021-01-01
1  2021-01-02
2  2021-01-03

In [52]:
df.dtypes

date    object
dtype: object

In [53]:
df['date'] = df['date'].astype('datetime64')
df

        date
0 2021-01-01
1 2021-01-02
2 2021-01-03

In [54]:
df.dtypes

date    datetime64[ns]
dtype: object