In [1]:
import pandas as pd

df = pd.DataFrame({
    'A': ['A1', 'A2', 'A3'],
    'B': ['B1', 'B2', 'B3'],
    'C': ['C1', 'C2', 'C3']
})

print(df)

    A   B   C
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3

In [7]:
melted = df.melt()
print(melted)

  variable value
0        A    A1
1        A    A2
2        A    A3
3        B    B1
4        B    B2
5        B    B3
6        C    C1
7        C    C2
8        C    C3

In [10]:
df = pd.DataFrame({
    'Name': ['John', 'Jane', 'Doe'],
    'Math': [85, 88, 78],
    'Science': [90, 89, 85]
})
df

   Name  Math  Science
0  John    85       90
1  Jane    88       89
2   Doe    78       85

In [9]:
melted = df.melt(id_vars=['Name'], value_vars=['Math', 'Science'], var_name='Subject', value_name='Score')
print(melted)

   Name  Subject  Score
0  John     Math     85
1  Jane     Math     88
2   Doe     Math     78
3  John  Science     90
4  Jane  Science     89
5   Doe  Science     85

In [11]:
melted = df.melt(id_vars=['Name'], value_vars=['Math'], var_name='Subject', value_name='Score')
print(melted)

   Name Subject  Score
0  John    Math     85
1  Jane    Math     88
2   Doe    Math     78