# Normalization

In [2]:
import pandas as pd

df = pd.DataFrame({
    'A': [100, 200, 300, 400, 500],
    'B': [10, 20, 30, 40, 50]
})
df

     A   B
0  100  10
1  200  20
2  300  30
3  400  40
4  500  50

In [3]:
df_normalized = (df - df.min()) / (df.max() - df.min())
print(df_normalized)

      A     B
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print(df_scaled)

      A     B
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

In [8]:
new_min = 5
new_max = 10
df_normalized_range = (df - df.min()) * (new_max - new_min) / (df.max() - df.min()) + new_min
print(df_normalized_range)

       A      B
0   5.00   5.00
1   6.25   6.25
2   7.50   7.50
3   8.75   8.75
4  10.00  10.00

# Standardization

In [4]:
df_standardized = (df - df.mean()) / df.std()
print(df_standardized)

          A         B
0 -1.264911 -1.264911
1 -0.632456 -0.632456
2  0.000000  0.000000
3  0.632456  0.632456
4  1.264911  1.264911

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_standardized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print(df_standardized)

          A         B
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

      A     B
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00