In [1]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

In [2]:
print("Original DataFrame:")
print(df)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
stacked_df = df.stack()
print("\nStacked DataFrame:")
print(stacked_df)

Stacked DataFrame:
0  A    1
   B    4
   C    7
1  A    2
   B    5
   C    8
2  A    3
   B    6
   C    9
dtype: int64

In [11]:
header = pd.MultiIndex.from_product([['Before', 'After'], ['A', 'B']])
data = [[1, 2, 3, 4], [5, 6, 7, 8]]

df = pd.DataFrame(data, columns=header)

print("Original DataFrame:")
df

Original DataFrame:

  Before    After
       A  B     A  B
0      1  2     3  4
1      5  6     7  8

In [12]:

stacked_df = df.stack()
print("\nStacked DataFrame:")
print(stacked_df)

Stacked DataFrame:
     After  Before
0 A      3       1
  B      4       2
1 A      7       5
  B      8       6

In [7]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [8]:
stacked_df.index

MultiIndex([(0, 'A'),
            (0, 'B'),
            (1, 'A'),
            (1, 'B')],
           )

In [10]:
df

  Before    After
       A  B     A  B
0      1  2     3  4
1      5  6     7  8

In [13]:
stacked_level0_df = df.stack(level=0)
print("Stacked DataFrame (Level 0):")
print(stacked_level0_df)

Stacked DataFrame (Level 0):
          A  B
0 After   3  4
  Before  1  2
1 After   7  8
  Before  5  6

In [14]:
stacked_level1_df = df.stack(level=1)
print("\nStacked DataFrame (Level 1):")
print(stacked_level1_df)

Stacked DataFrame (Level 1):
     After  Before
0 A      3       1
  B      4       2
1 A      7       5
  B      8       6

In [17]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5, 6], index=pd.MultiIndex.from_product([[0, 1, 2], ['A', 'B']]))

print("Stacked Series:")
print(s)

Stacked Series:
0  A    1
   B    2
1  A    3
   B    4
2  A    5
   B    6
dtype: int64

In [18]:
unstacked_df = s.unstack()
print("\nUnstacked DataFrame:")
print(unstacked_df)

Unstacked DataFrame:
   A  B
0  1  2
1  3  4
2  5  6

In [19]:
header = pd.MultiIndex.from_product([['Before', 'After'], ['A', 'B']])
data = [[1, 2, 3, 4], [5, 6, 7, 8]]

df = pd.DataFrame(data, columns=header)
stacked_df = df.stack()

print("Stacked DataFrame:")
print(stacked_df)

unstacked_df = stacked_df.unstack()
print("\nUnstacked DataFrame:")
print(unstacked_df)

Stacked DataFrame:
     After  Before
0 A      3       1
  B      4       2
1 A      7       5
  B      8       6

Unstacked DataFrame:
  After    Before
      A  B      A  B
0     3  4      1  2
1     7  8      5  6

In [20]:
unstacked_level0_df = stacked_df.unstack(level=0)
print("Unstacked DataFrame (Level 0):")
print(unstacked_level0_df)

unstacked_level1_df = stacked_df.unstack(level=1)
print("\nUnstacked DataFrame (Level 1):")
print(unstacked_level1_df)

Unstacked DataFrame (Level 0):
  After    Before
      0  1      0  1
A     3  7      1  5
B     4  8      2  6

Unstacked DataFrame (Level 1):
  After    Before
      A  B      A  B
0     3  4      1  2
1     7  8      5  6