In [5]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['b', 'c', 'd'])

df1

   A
a  1
b  2
c  3

In [6]:
df2

   B
b  4
c  5
d  6

In [11]:
joined = df1.join(df2)
print(joined)

   A    B
a  1  NaN
b  2  4.0
c  3  5.0

In [8]:
joined_left = df1.join(df2, how='left')
print(joined_left)

   A    B
a  1  NaN
b  2  4.0
c  3  5.0

In [10]:
joined_right = df1.join(df2, how='right')
print(joined_right)

     A  B
b  2.0  4
c  3.0  5
d  NaN  6

In [12]:
joined_outer = df1.join(df2, how='outer')
print(joined_outer)

     A    B
a  1.0  NaN
b  2.0  4.0
c  3.0  5.0
d  NaN  6.0

In [13]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'key': ['a', 'b', 'c']})
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['a', 'b', 'd'])


df1

   A key
0  1   a
1  2   b
2  3   c

In [14]:
df2

   B
a  4
b  5
d  6

In [18]:

joined_on_col = df1.join(df2, on='key', how = 'right')
print(joined_on_col)

       A key  B
0.0  1.0   a  4
1.0  2.0   b  5
NaN  NaN   d  6

In [19]:
df3 = pd.DataFrame({'C': [7, 8, 9]}, index=['b', 'c', 'e'])

df3

   C
b  7
c  8
e  9

In [20]:
joined_multiple = df1.join([df2, df3])
print(joined_multiple)

     A key   B   C
0  1.0   a NaN NaN
1  2.0   b NaN NaN
2  3.0   c NaN NaN

In [21]:
# Join - default is LEFT
# Merge - default is INNER