In [3]:
import pandas as pd

# Create a MultiIndex DataFrame
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('letters', 'numbers'))
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]], columns=index)

print("Original DataFrame:")
print(df)

Original DataFrame:
letters  A     B
numbers  1  2  1  2
0        1  2  3  4
1        5  6  7  8

In [2]:
# Flatten using stack
flattened = df.stack().reset_index(drop=True)
print("\nFlattened DataFrame:")
print(flattened)

Flattened DataFrame:
letters  A  B
0        1  3
1        2  4
2        5  7
3        6  8

In [5]:
df = pd.DataFrame({'A': [[1, 2, 3], [4, 5], [6, 7, 8, 9]], 'B': ['a', 'b', 'c']})
df

              A  B
0     [1, 2, 3]  a
1        [4, 5]  b
2  [6, 7, 8, 9]  c

In [6]:
flattened = df.explode('A')
print(flattened)

   A  B
0  1  a
0  2  a
0  3  a
1  4  b
1  5  b
2  6  c
2  7  c
2  8  c
2  9  c

In [7]:
import numpy as np

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [8]:
flattened_array = df.values.flatten()
print(flattened_array)

[1 4 2 5 3 6]