In [13]:
import pandas as pd

s = pd.Series([1, 1, 2, 3, 4, 4, 5, 5, 5, None])
print(s.unique())

[ 1.  2.  3.  4.  5. nan]

In [14]:
s = pd.Series([1, 1, 2, 3, 4, 4, 5, 5, 5, None])
print(s.nunique())

5

In [15]:
s = pd.Series([1, 1, 2, 3, 4, 4, 5, 5, 5, None])
print(s.nunique(dropna = False))

6

In [16]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({
    'customer_id': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B', 'B', 'B'],
    'order_id': [1, 1, 2, 2, 3, 3, 3, 4, 4, 4],
    'item': ['Soup', 'Bread', 'Lemon', 'Bread', 'Soup', 'Bread', 'Salad', 'Salad', 'Soup', 'Bread']
})
df

  customer_id  order_id   item
0           A         1   Soup
1           A         1  Bread
2           B         2  Lemon
3           B         2  Bread
4           A         3   Soup
5           B         3  Bread
6           A         3  Salad
7           B         4  Salad
8           B         4   Soup
9           B         4  Bread

In [17]:
df.groupby('customer_id')['item'].value_counts()

customer_id  item
A            Soup     2
             Bread    1
             Salad    1
B            Bread    3
             Lemon    1
             Salad    1
             Soup     1
Name: item, dtype: int64

In [18]:
df.groupby('customer_id')['item'].count()

customer_id
A    4
B    6
Name: item, dtype: int64

In [19]:
df.groupby('customer_id')['item'].size()

customer_id
A    4
B    6
Name: item, dtype: int64

In [25]:
# Group by customer_id and calculate the number of unique items per customer
df.groupby('customer_id')['item'].unique()

customer_id
A           [Soup, Bread, Salad]
B    [Lemon, Bread, Salad, Soup]
Name: item, dtype: object

In [20]:
df.groupby('customer_id')['item'].size()

customer_id
A    4
B    6
Name: item, dtype: int64

In [24]:

# Group by customer_id and calculate the number of unique items per customer
df.groupby('customer_id')['item'].nunique()

customer_id
A    3
B    4
Name: item, dtype: int64

In [ ]:
# Calculate the number of unique items per customer
unique_items = df.groupby('customer_id')['item'].nunique()

# Filter the customers who ordered more than 3 unique items
unique_items_more_than_3 = unique_items[unique_items > 3]

# Print the result
print(unique_items_more_than_3)

customer_id
A           [Soup, Bread, Salad]
B    [Lemon, Bread, Salad, Soup]
Name: item, dtype: object