In [1]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
}, index=[5, 4, 3, 2, 1])

df

   A
5  1
4  2
3  3
2  4
1  5

In [4]:
df.reset_index(drop = True)

   A
0  1
1  2
2  3
3  4
4  5

In [5]:
df

   A
5  1
4  2
3  3
2  4
1  5

In [6]:
df.reset_index(drop = True, inplace = True)

In [7]:
df

   A
0  1
1  2
2  3
3  4
4  5