In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [1]:
# OBSERVATIONS

In [2]:
import pandas as pd
data = {
'Product_ID': [1, 2, 3, 4, 5, 6, 1, 2, 3, 4],
'Product_Name': ['Toothpaste', 'Shampoo', 'Laptop', 'TV', 'Coffee Maker', 'Blender', 'Toothpaste', 'Shampoo', 'Laptop', 'TV'],
'Category': ['Personal Care', 'Personal Care', 'Electronics', 'Electronics', 'Kitchen Appliances', 'Kitchen Appliances', 'Personal Care', 'Personal Care', 'Electronics', 'Electronics'],
'Price': [5.0, 10.0, 1000.0, 600.0, 50.0, 30.0, 5.0, 10.0, 1000.0, 600.0],
'Units_Sold': [100, 50, 20, 15, 30, 25, 110, 55, 22, 17]
}

target_df = pd.DataFrame(data)

target_df

   Product_ID  Product_Name            Category   Price  Units_Sold
0           1    Toothpaste       Personal Care     5.0         100
1           2       Shampoo       Personal Care    10.0          50
2           3        Laptop         Electronics  1000.0          20
3           4            TV         Electronics   600.0          15
4           5  Coffee Maker  Kitchen Appliances    50.0          30
5           6       Blender  Kitchen Appliances    30.0          25
6           1    Toothpaste       Personal Care     5.0         110
7           2       Shampoo       Personal Care    10.0          55
8           3        Laptop         Electronics  1000.0          22
9           4            TV         Electronics   600.0          17